a {
  color: black;
  transition: all 2s; }

a:hover {
  background-color: #1cbee2 !important;
  color: white; }

hr {
  border-color: darkblue; }

form {
  background-color: #1cbee2; }

p {
  color: black; }

table {
  border: solid black; }

table thead tr {
  background: #1cbee2;
  color: black; }

table thead tr td {
  border: solid black; }

table tbody tr td {
  border: solid black; }

footer {
  background-color: #1cbee2;
  color: black; }

.textoFondo {
  color: white; }

.textoInicio {
  color: white; }

.fondoC {
  background-image: linear-gradient(to bottom, white, #1cbee2); }

.paddingM {
  background-image: radial-gradient(#1cbee2, white); }

.fondoDeInicio {
  background-image: url(../assets/img/empresa.jpg); }

p {
  font-size: 2rem;
  font-family: 'Fira Sans Condensed',sans-serif; }

.pProductos {
  font-size: 2.4rem; }

.pTabla {
  font-size: 2rem; }

span {
  font-size: 1.7rem; }

h1 {
  font-size: 4rem; }

form {
  border-style: solid;
  border-width: 1;
  font-size: 1.5rem; }

legend {
  font-size: 2rem; }

input {
  font-size: 1.7rem; }

label {
  font-size: 2rem; }

select {
  font-size: 1.7rem; }

button {
  font-size: 1.7rem !important;
  font-size: 4rem; }

table {
  font-size: 2rem;
  font-family: 'Fira Sans Condensed',sans-serif; }

ul div {
  font-size: 1.5rem;
  font-family: 'Fira Sans Condensed',sans-serif; }

div {
  font-size: 2rem; }

footer {
  font-size: 2rem;
  font-family: 'Fira Sans Condensed',sans-serif; }

.estandarL {
  font-size: 1.7rem; }

.fondoDeInicio {
  background-size: cover;
  height: 700px;
  width: 100%; }

.seccion {
  grid-column-gap: 10px;
  grid-row-gap: 10px; }

.contenedor2 {
  grid-column-gap: 10px;
  grid-row-gap: 10px; }

html {
  font-size: 62.5%; }

nav {
  border-style: none; }

nav ul {
  padding: 25px; }

nav ul li {
  width: 30%;
  height: 70%;
  font-size: 2rem;
  text-align: center; }

.nav {
  background-color: white;
  color: black; }

.nav__div {
  display: flex;
  justify-content: flex-end; }

.header {
  background-color: red; }

.header__nav {
  background-color: #1cbee2; }

.header__logo {
  border-radius: 20px; }

.section {
  font-size: 2rem; }

.section__parrafo {
  margin: 50px;
  text-align: center; }

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 250px;
  margin-left: 250px;
  border-width: 0.7px;
  padding: 0.7px;
  background-color: black; }

h1 {
  text-align: center;
  color: black; }

h3 {
  text-align: center;
  font-size: 3rem; }

p {
  margin: 10px;
  margin-left: 20px; }

form {
  margin: 10px;
  padding: 10px;
  border-radius: 15px; }

.boton, .boton--aceptar, .boton--cancelar {
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 2rem;
  color: black;
  border-radius: 10px;
  border: 1px solid black; }

.boton--aceptar {
  background-color: #1cbee2; }

.boton--cancelar {
  background-color: #1cbee2; }

legend {
  text-align: center; }

input {
  border-radius: 5px; }

select {
  border-radius: 5px; }

fieldset {
  margin-left: 10px; }

.margen {
  margin: 5px; }

.padding {
  padding-top: 60px; }

.paddingM {
  padding: 20px;
  margin: 15px; }

select {
  border-radius: 5px; }

textarea {
  height: 100px;
  width: 75%;
  margin-left: 20px; }

table {
  text-align: center; }

table tbody tr td {
  text-decoration: none; }

article table {
  align: center; }

div aside ol {
  text-align: left; }

ul {
  text-align: left; }

footer {
  text-align: left;
  padding: 15px;
  border-style: none; }

footer div {
  text-align: left; }

footer div h5 {
  text-align: center; }

.textoInicio {
  display: inline-block;
  margin-bottom: 400px; }

.fondoDeInicio {
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
  text-align: center; }

.justificado {
  text-align: center;
  margin-bottom: 100px; }

.textoEnItalica {
  font-style: italic; }

.izq {
  text-align: left; }

.izquierda {
  align: left; }

.centro {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center; }

.seccion {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: auto;
  grid-template-areas: "nuestrosProductos productos";
  justify-items: center;
  align-items: center; }

.seccion__texto {
  grid-area: nuestrosProductos; }

.seccion__tabla {
  grid-area: productos; }

.articulo {
  font-size: 3rem !important;
  background-color: beige; }

.articulo__p1 {
  text-align: left; }

.articulo__p2 {
  text-align: right; }

.articulo__p3 {
  text-align: left; }
