/*-----------ETIQUETAS--------*/


html
{
	font-size: 62.5%;
}


/*-------NAV---------*/

/* Color estandar #29BAE0*/

nav
{
	background-image: linear-gradient(to bottom,#1cbee2,#1cbee2) ;
	color: black;
	border-style: none;
}

nav ul
{
	margin: 15px;
	padding: 10px;
	list-style: none;
}

nav ul li 
{
	display: inline-block;
	vertical-align: center;
	width: 19%;
	text-align: center;
	font-size: 2rem;

}
/*
nav ul li a
{
	text-decoration: none;
}
*/
ul div a
{
	text-decoration: none;
}

/*---------Fin Nav---------*/

/*------Menu con Flexbox----------*/


/*---------Fin del SubMenu--------*/

hr
{
	background-color: black;
	padding: 0.7px;
	border-width: 0.7px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 250px;
	margin-right: 250px;

}

/*---------Titulo--------*/
h1/*Lineacion y color de todos los titulos mas importantes*/
{
	text-align: center;
	color: black;
	font-size: 7rem;
	
	
}
h2
{
	text-align: center;
	font-size: 5rem;
}
h3
{
	text-align: center;
	font-size: 3rem;
}

/*-------Fin Titulo-------*/

/*--------FORMULARIOS--------*/

form/*Cambia el fondo y el color de los formularios*/
{
	background: white;
	color: black;
	border-style: solid;
	border-radius: 15px;
	border-width: 1;
	font-size: 2rem;
	margin-bottom: 10px;
}
/*---------Fin Formularios------*/

p/*Pone en color rojo todos los parrafos del archivo*/
{
	color: black;
	font-size: 2rem;
}
legend
{
	font-size: 2rem;
}
input
{
	font-size: 1.7rem;
	border-radius: 5px;
}
select
{
	font-size: 1.7rem;
	border-radius: 5px;
}
textarea
{
	height: 200px;
	width: 500px;
	margin-left: 20px;

}

button
{
	font-size: 1.7rem !important;
}
/*------Tablas----*/
table
{
	text-align: center;
	font-size: 2rem;
	border: solid black;
}
table thead tr
{
	background: #5F9FDA;
	color: black;
}

table thead tr td
{
	border: solid black;
}
table tbody tr td
{
	border:solid black;
}

article table
{
	align: center;
}

/*------Fin Tablas-----*/

ul div
{
	font-size: 1.5rem;
}
div aside ol
{
	text-align: left;
}

div 
{
	font-size: 2rem;
}

ul
{
	text-align: left;
}

/*------Footer------*/
footer
{
	text-align: left;
	font-size: 2rem;
	padding: 15px;
	background-image: linear-gradient(to top,#1cbee2,white) ;
	color: black;
	border-style: none;
}

footer div
{
	text-align: left;

}
footer div h5
{
	text-align: center;
}
/*--------Fin Footer--------*/

button
{
	font-size: 4rem;
}


/*-------Fin Etiquetas-------*/

/*-------CLASES------*/


.textoFondo /* clase que cambia el fondo a negro y el texto a blanco*/
{
	display: inline-block;
	background-color: beige;
	opacity: 0.5;
	background-attachment: fixed;
	color: black;
	text-align: center;
	padding: 10px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 100px;
	
}

.fondoC 
{
	background-image: radial-gradient(#1cbee2,white);
}




.justificado
{
	text-align: center;
	margin-bottom: 100px;
}
.textoEnItalica
{
	font-style: italic;
}
.izq
{
	text-align: left;
}

.centro
{
	display: flex;
	align-items: center;
	justify-content: center;
}

.fondoDeInicio
{
	background-image: url(../assets/img/empresa.jpg);
	height: 700px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.contenedor
{
	display: grid;
	grid-template-columns: 49% 49%;
	grid-template-rows: auto;
	grid-template-areas: 
	"nuestrosProductos productos";
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	justify-items: center;
	align-items: center;
}

article.texto1
{
	grid-area: nuestrosProductos;
}

article.tabla1
{
	grid-area: productos;
}






/*-----Fin Clases-------*/