$celeste:#1cbee2;
$blanco:white;
$azuloscuro:darkblue;
$negro:black;

$estilos:(
	color:$celeste,
	centro:center,
	tfuente:1.5rem
);

a
{
   color: black;
   transition:all 2s;
}

a:hover
{
   background-color:$celeste!important;
   color:white;
   
}

hr
 {
 	border-color:$azuloscuro;
 }

form
{
   background-color:#1cbee2;
}

 p
 {
 color:$negro;
 }
 table
 		{
 		border:solid $negro;
 		}
 table thead tr
 		{
 		background:$celeste;
 		color:$negro;
 		}
 	
table thead tr td
		{
		border:solid $negro;
		}
table tbody tr td
		{
			border:solid $negro;
		}
 footer
 {
 background-color:map-get($estilos,color);
 color:$negro;
 }
 .textoFondo
 {
	color: $blanco;
 }

 .textoInicio
 {
   color:$blanco;
 }

 .fondoC
 {
 	background-image: linear-gradient(to bottom,white,#1cbee2)
 }

.paddingM
{
   background-image:radial-gradient(#1cbee2,white);
}

.fondoDeInicio
{
	background-image:url(../assets/img/empresa.jpg);
}