@import "colores";
@import "tamaños";

$marginS:5px;
$margin:10px;
$marginL:250px;




html
{
	font-size: 62.5%;
}


nav ul
	{
	padding:25px;

	}

nav ul li
	{

	font-size:4rem;
	text-align:center;
	font-family: 'Playfair Display', serif;
	border-color:black;
	border-width:2px;
	border-left:ridge;
	}

.nav
{
	background-color:$blanco;
	color:$negro;
}
.nav__div
{
	display:flex;
	 justify-content:flex-end;
}



.header
{
	background-color:red;
}
.header__nav
{
	background-color:$celeste;
}

.header__logo
{
	border-radius: 20px;
}

.section
{
	font-size:2rem;
}
.section__parrafo
{
	margin:50px;
	text-align:center;
}


hr
{
	margin-top:$margin;
	margin-bottom:$margin;
	margin-right:$marginL;
	margin-left:$marginL;
	border-width:0.7px;
	padding:0.7px;
	background-color:black;
}

h1
{
	text-align:map-get($estilos,centro);
	color:$negro;
	font-family: 'Playfair Display', serif;
}

h3
{
	text-align:map-get($estilos,centro);
	font-size:3rem;
	font-family: 'Playfair Display', serif;
}

p
{
	margin:$margin;
	margin-left:20px;
	font-family: 'Poppins', sans-serif;
}

form
{
	margin:$margin;
	padding:10px;
	border-radius:15px;
}

.boton
{
	width:200px;
	height:50px;
	text-align:center;
	font-size:2rem;
	color:black;
	border-radius:10px;
	border:1px solid black;
}

.boton--aceptar
{
	@extend .boton;
	background-color:$celeste;
}

.boton--cancelar
{
	@extend .boton;
	background-color:$celeste;
}

legend
{
	text-align:center;
}

input
{
	border-radius:5px;
}



select
{
	border-radius:5px;
}

fieldset
{
	margin-left:$margin;
}

.margen
{
	margin:$marginS;
}

.padding
{
	padding-top:60px;

}

.paddingM
{
	padding:20px;
	margin:15px;
}


select
{
	border-radius:5px;
}

textarea
{
	height:100px;
	width:75%;
	margin-left:20px;
}

table
	{
		text-align:map-get($estilos,centro);
	}
table tbody tr td
	{
	text-decoration:none;
	}
article table
{
	align:center;
}

div aside ol
{
	text-align:left;
}

ul
{
	text-align:left;
}
footer
	{
	text-align:left;
	padding:15px;
	border-style:none;
	}
footer div
	{
	text-align:left;
	}
footer div h5
		{
			text-align:map-get($estilos,centro);
		}

.textoInicio
{
    text-align:center;
	font-size:5rem;
	font-family: 'Playfair Display', serif;
	margin-top:100px;
}


.fondoDeInicio {
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    align-items:flex-start;
    text-align:center;
    
}


.justificado
{
	text-align: center;
	margin-bottom: 100px;
}
.textoEnItalica
{
	font-style: italic;
}
.izq
{
	text-align: left;
}

.izquierda
{
	align:left;
}

.centro
{
	display: flex;
	align-items: center;
	text-align:center;
	justify-content: center;
}



.seccion
{
	display:grid;
	grid-template-columns:49% 49%;
	grid-template-rows:auto;
	grid-template-areas:
	"nuestrosProductos productos";
	justify-items:map-get($estilos,centro);
	align-items:map-get($estilos,centro);
}

.seccion__izquierda
{
	grid-area:nuestrosProductos;

}

.seccion__derecha
{
	grid-area:productos;
}

.redesC
{
	display:flex;
	justify-content:center;
}

