$nav:2rem;
$parrafoD:2rem;
$h1Desktop:4rem;
$h1Mobile:1.7rem;





p
{
	font-size:$parrafoD;
	font-family:'Fira Sans Condensed',sans-serif;
}

.pProductos
{
	font-size:2.7rem;
}

.pTabla
{
	font-size:2.5rem;
}

span
{
	font-size:1.7rem;
}

h1
{
	font-size:$h1Desktop;
}

form
{
	border-style:solid;
	border-width:1;
	font-size:1.5rem;
}

legend
{
	font-size:2rem;
}

input
{
	font-size:1.7rem;
}

label
{
	font-size:2rem;
}

select
{
	font-size:1.7rem;
}

button
{
	font-size:1.7rem !important;
	font-size:4rem;
}

table
{
	font-size:2rem;
	font-family:'Fira Sans Condensed',sans-serif;
	
}
ul div
{
	font-size:1.5rem;
	font-family:'Fira Sans Condensed',sans-serif;
}
div
{
	font-size:2rem;
}

footer
{
	font-size:2rem;
	font-family:'Fira Sans Condensed',sans-serif;
}

.estandarL
{
	font-size:1.7rem;	
}

.fondoDeInicio
{
	background-size:cover;
	height: 700px;
	width: 100%;
}
.seccion
{
	grid-column-gap:10px;
	grid-row-gap:10px;
}

.contenedor2
{
	
	grid-column-gap:10px;
	grid-row-gap:10px;
}
